
<div class="book">
    <img src="./assets/libro4.jpg" alt="La madriguera del zorro" class="book-image">
    <div class="book-info">
      <h2 class="book-title">La madriguera del zorro (All for the game #1)</h2>
      <p class="book-description">
        Neil Josten ha pasado los últimos siete años de su vida huyendo de la violencia de su padre. Ha cambiado de identidad, de aspecto y de residencia tantas veces que ya no pertenece a ninguna parte. Lo ha perdido todo… excepto su pasión por el Exy.
Este deporte, una especie de lacrosse con rasgos de rugby y hockey sobre hielo, todavía late en sus venas, a pesar de que se ha prohibido a sí mismo volver a sostener una raqueta. Sin embargo, cuando llega a Millport, un pequeño y desconocido pueblo de Arizona, no puede resistirse y se apunta al equipo de Exy del instituto. Allí es donde, un día, recibe una visita inesperada que lo cambiará todo: David Wymack, entrenador de los Zorros de la Universidad de Palmetto, y Kevin Day, estrella del Exy que lleva meses desaparecida de la vida pública tras un accidente, quieren ficharle para la siguiente temporada.
El deseo de volver a pisar un estadio vence al miedo a ser encontrado, y Neil es incapaz de rechazar una oferta como esa. Pero mantener oculta su identidad será el menor de sus problemas; los Zorros son un equipo de lo más disfuncional, y lidiar con sus compañeros será tan difícil como estar al nivel de las expectativas del hermético y exigente Kevin Day.
      </p>
    </div>
  </div>

  <div class="book">
    <img src="./assets/libro5.jpg" alt="El rey cuervo" class="book-image">
    <div class="book-info">
      <h2 class="book-title">El rey cuervo (All for the game #2)</h2>
      <p class="book-description">
        Los Zorros son un equipo fragmentado, pero puede que Neil Josten sea el milagro que estaban esperando. La única persona que no está de acuerdo es Andrew, y el único capaz de penetrar las férreas barreras de Andrew es Neil. El problema es que Andrew no da nada a cambio de nada y a Neil le cuesta horrores confiar en nadie que no sea él mismo. Sin embargo, puede que no tengan demasiado tiempo; desde el equipo rival de los Cuervos, Riko Moriyama está dispuesto a hacer todo lo que sea para destrozar la nueva y frágil vida de Neil. 
      </p>
    </div>
  </div>

  <div class="book">
    <img src="./assets/libro6.jpeg" alt="La guardia del rey" class="book-image">
    <div class="book-info">
      <h2 class="book-title">La guardia del rey (All for the game #3)</h2>
      <p class="book-description">
        Mientras que Neil Josten trata de librarse de las garras del siniestro Riko Moriyama, los Zorros luchan por superar sus temores y comportarse por fin como un equipo unido. Kevin debe hacer valer su liderazgo y confrontar su vulnerabilidad ante Riko; miembros como Renee, Danielle y Nicky deben demostrar que han dejado atrás su pasado; Andrew necesita salir adelante sin drogas… y, esta vez, tiene a su lado a alguien que lo apoya y desea protegerlo tanto como Andrew a él.
      </p>
    </div>
  </div>

  <div class="book">
    <img src="./assets/libro7.jpg" alt="The Sunshine Court" class="book-image">
    <div class="book-info">
      <h2 class="book-title">The Sunshine Court (All for the game #4)</h2>
      <p class="book-description">
        Es una verdad en torno a la cual Jean ha construido su vida, un recordatorio de que esto es lo mejor que puede esperar y todo lo que se merece. Pero cuando lo roban de la Universidad Edgar Allan y lo venden a un maestro más peligroso, Jean se ve obligado a lidiar con una vida fuera del Nido por primera vez en cinco años. Los Fox consideran que su traslado a California es un nuevo comienzo; Jean sabe que es poco más que una jaula de oro.

El capitán Jeremy Knox enfrenta su último año con los Trojans de la USC y el quinto año consecutivo no logra el trofeo de campeonato que anhela desesperadamente. Aceptar al mejor defensa de la nación es una obviedad, incluso si ese hombre es un Raven. Pero Jean no es un monstruo, solo un hombre sin esperanza ni deseo de futuro, y cuando el colapso de Evermore comienza a sacar a la luz los horribles secretos de Jean, Jeremy se ve obligado a lidiar con el costo de la victoria.
      </p>
    </div>
  </div>