<div class="autor-page">
  <div class="Header">
    <img src="./assets/1.jpg" alt="Logo" class="logo">
    
    <h1>ALL FOR THE GAME</h1>
  </div>

  <div class="menu">
    <button class="menu-button" routerLink="/autor" >Autora</button>
    <button class="menu-button" routerLink="/personajes">Personajes</button>
    <button class="menu-button" routerLink="/books">Libros</button>
  </div>

  <router-outlet />


  <div class="social-media">
    <h4>Redes sociales de la autora</h4>
    <div class="social-media-icons">
      <a href="https://www.instagram.com/korakos" target="_blank">
        <img src="./assets/logo1.png" alt="Instagram">
      </a>
      <a href="https://twitter.com/norasakavic" target="_blank">
        <img src="./assets/logo2.2.webp" alt="Twitter">
      </a>
      <a href="https://korakos.tumblr.com" target="_blank">
        <img src="./assets/logo3.webp" alt="Tumblr">
      </a>
    </div>
  </div>